# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

### > List popular languages for data science 
### > Create a markdown cell to list data science libraries
### > Create a markdown cell with a table of Data Science tools
### > Create a markdown cell introducing arithmetic expression examples
### > Create a code cell to multiply and add numbers

### Some of the popular languages that Data Scientists use are;

### 1) Python
### 2) R
### 3) C++
### 4) Julia
### 5) Go

### Some of the commonly used libraries used by Data Scientists include:

### 1) Tensorflow
### 2) Matplotlib
### 3) Keras
### 4) Numpy
### 5) Seaborn
### 6) Pytorch

 |Data Science Tools|
 |------------------|
 |Jupyter Notebook|
 |R-Studio|
 |Zeppelin Notebook|

In [1]:
%%html
<style>
table {float:left}
</style>

### Below are a few examples of evaluating arithmetic expressions in Python.

|Operator|Type|Result|
|--------|----|--------|
|-|Binary|b subtracted from a|
|*|Binary|The product of a and b|
|/|Binary|The quotient of a divided by b , expressed as a float|
|%|Binary|The remainder of a divided by b|

In [2]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author:

Stephen Longwe